[submodule "baseline/orca/RVO2"]
	path = baseline/orca/RVO2
	url = https://github.com/snape/RVO2.git
[submodule "baseline/avo/AVO2"]
	path = baseline/avo/AVO2
	url = https://github.com/snape/AVO2.git
[submodule "baseline/centralized-planner/multi-robot-trajectory-planning"]
	path = baseline/centralized-planner/multi-robot-trajectory-planning
	url = https://github.com/whoenig/multi-robot-trajectory-planning.git
